
<header id="header">
  <img src="../../assets/logoImage/logo_ExploreSpots_sin_fondo.png" alt="" onclick="location.href='#';">
  <nav id="nav-bar">
    <ul>
      <li><a href="#">Map</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Saved</a></li>
      <li><a href="#">Add publication</a></li>
      <li><a href="#">Edit profile</a></li>
    </ul>
  </nav>
  <button id="LogOut" onclick="location.href='../index.html'; localStorage.setItem('userId', null);">LogOut</button>
  <img src="" id="profilePhotoHeader" alt="" onclick="location.href='#';">
</header>

