<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Phone Header</title>
</head>
<body>
<header id="phoneHeader">
  <img src="../../assets/headerImages/menu_hamburguesa.png" alt="menu_icon">
  <img src="../../assets/headerImages/album_images.png" alt="album_icon" onclick="location.href='../Saved/saved.html';">
  <img src="../../assets/headerImages/logo_ExploreSpots_sin_fondo.png" alt="ExploreSpot-logo" onclick="location.href='../MapPage/map.html';">
  <img src="../../assets/headerImages/signo_mas.png" alt="add_icon" onclick="location.href='../AddPublication/add_publication.html';">
  <img src="../../assets/headerImages/usuario-de-perfil.png" alt="profile_icon" onclick="location.href='../Account/account.html';">
</header>
</body>
</html>

