<main>
  <div id="information">
    <div id="top Side">
      <div id="publicationData">
        <h1 id = 'name' ></h1>
        <h1 id='score'></h1>
      </div>
      <div id="userData">
        <img id="photoUser">
        <h2 id = 'username' ></h2>
      </div>
    </div>
    <img>
    <div  id="ImageCarrusel" class="image-carousel-container">
      <!-- Botones de navegación -->
      <div class="carousel-button left" onclick="moveCarousel(-1)">❮</div>
      <div class="carousel-button right" onclick="moveCarousel(1)">❯</div>
    </div>

    <div id="content-container">
      <p id = 'description'></p>
    </div>
    <div id="map"></div>
  </div>
  <div class="Header-Comments">
    <h2>Comments</h2>
    <button id="mostrar-formulario">Add comments</button>
    <h3>Ratings</h3>
    <button id="addRating">Add rating</button>
  </div>
  <div id="coments"></div>
</main>
