<div *ngIf="!isPhoneScreen">
  <app-header/>
</div>
<div *ngIf="isPhoneScreen">
  <app-phone-header/>
</div>
<main>
  <div id="information">
    <div id="top Side">
      <div id="publicationData">
        <h1 id = 'name' >Generic Publication</h1>
        <h1 id='score'>Standar Score</h1>
      </div>
      <div id="userData">
        <img src="../../assets/headerImages/usuario-de-perfil.png" id="photoUser">
        <h2 id = 'username' >Lorem Ipsum</h2>
      </div>
    </div>
    <div id="ImageCarrusel" class="image-carousel-container">
      @for(imagen of images; track imagen){
        <img src="{{imagen}}">
      }
      <div class="carousel-button left" (click)="moveCarousel(-1)">❮</div>
      <div class="carousel-button right" (click)="moveCarousel(1)">❯</div>
    </div>

    <div id="content-container">
      <p id = 'description'></p>
    </div>
    <div id="map">
      <app-map></app-map>
    </div>
  </div>
  <div class="Header-Comments">
    <h2>Comments</h2>
    <button id="mostrar-formulario">Add comments</button>
    <h3>Ratings</h3>
    <button id="addRating">Add rating</button>
  </div>
  <div id="coments"></div>
</main>
<app-footer></app-footer>
