<div *ngIf="!isPhoneScreen">
  <app-header/>
</div>
<div *ngIf="isPhoneScreen">
  <app-phone-header/>
</div>
<main>
  <div class="User">
    <img id="profilePhotoAccount" alt="" src="{{profileImage}}">
    <span id="userName"><b>{{username}}</b></span>
    <div class="options">
      <a routerLink="saved">SAVED</a>
      <a routerLink="add-publication">CREATE</a>
      <a routerLink="edit-profile">EDIT PROFILE</a>
    </div>
  </div>
  <div class="contImagen" id="imagenContainer"></div>
</main>
<app-footer></app-footer>
